@font-face {
  font-family: League-Bold;
  src: url('./assets/fonts/LeagueSpartan-Bold.ttf');
}

@font-face {
  font-family: League-Light;
  src: url('./assets/fonts/LeagueSpartan-Light.ttf')
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}

:root {
  --green-color: #77D154;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 70px 74px 64px 82px;
  background-image: url('./assets/img/Form.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info {
  display: flex;
  max-height: 2360px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  gap: 100px
}

.img {
  display: block;
  width: 546px;
  height: 546px;
  border-radius: 55px;
  padding: 11px;
  background-color: var(--green-color);
  object-fit: cover;
}

#title {
  color: #ffffff;
  margin-top: 100px;
}

.title {
  font-size: 110px;
  font-family: League-Bold;
  line-height: 101px;
}

.subtitle {
  font-size: 44px;
  font-family: League-Light;
  line-height: 39px;
}

.section {
  width: 43%;
  display: flex;
  flex-direction: column;
  gap: 30px
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.decorate-line {
  display: block;
}

.section-title {
  font-family: League-Bold;
  font-size: 82px;
  line-height: 75px;
}

.left-title {
  color: #242729;
}

.right-title {
  color: #ffffff;
}

.about-me-info {
  width: 90.66%;
  color: #7C7D7F;
  font-family: Montserrat-Medium;
  font-size: 30px;
  line-height: 36.75px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5.6%;
  background-color: #000000;
  border-radius: 50%
}

.item-text {
  font-family: Montserrat-Medium;
  color: #7C7D7F;
  font-size: 30px;
  line-height: 37px;
}

.item-bar {
  margin-left: auto;
  width: 51.4%;
  height: 27px;
  background-color: #DCDCDD;
  border-radius: 0px 55px 55px 0px;
}

.active-item-bar {
  height: inherit;
  background-color: var(--green-color);
  border-radius: 0px 55px 55px 0px;
}

.java-script-bar {
  width: 85%;
}

.type-script-bar {
  width: 60%;
}

.nodejs-bar {
  width: 15%;
}

.html-bar {
  width: 95%;
}

.css-bar {
  width: 85%;
}

.git-bar {
  width: 35%;
}

.webpack-bar {
  width: 40%;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contact-icon {
  width: 55px;
  height: 55px;
  background-color: var(--green-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  margin-right: 30px;
}

.phone-icon {
  background-image: url('./assets/img/phone-call.png')
}

.email-icon {
  background-image: url('./assets/img/email.png')
}

.location-icon {
  background-image: url('./assets/img/location.png')
}

.phone,
.email,
.location {
  text-decoration: none;
  font-family: Montserrat-Medium;
  color: #7C7D7F;
  font-size: 25px;
  line-height: 37px;
  transition: .5s;
}

.location {
  display: block;
  width: 50.47%;
}

.phone:hover,
.email:hover,
.location:hover,
.shool-link:hover,
.projects-link:hover {
  color: #575757;
}

.education-info {
  width: 492px;
  display: flex;
  flex-direction: column;
  gap: 15px
}

.years {
  font-family: Montserrat-Medium;
  color: var(--green-color);
  font-size: 32px;
  line-height: 39px;
}

.place-of-study {
  text-decoration: none;
  font-family: Montserrat-Medium;
  color: #7C7D7F;
  font-size: 30px;
  line-height: 36.5px;
  transition: .5s;
}

.projects-info {
  width: 490px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.projects-info-text,
.projects-link {
  font-family: Montserrat-Medium;
  color: var(--green-color);
  font-size: 30px;
  line-height: 36.5px;
}

.projects-links {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.projects-link {
  text-decoration: none;
  color: #7C7D7F;
  transition: .5s;
}

.soft-skill::before,
.language::before {
  background-color: #ffffff;
}

.green-form {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.small-line {
  display: none;
}

.small-svg {
  display: none;
}

@media (max-width: 1400px) {

  .main {
    width: 100%;
    padding: 5% 6% 64px 5.857%;
  }

  .info {
    max-height: 2330px;
  }

  .img {
    width: 39vw;
    height: 39vw;
  }

  .title {
    font-size: 7.86vw;
    line-height: 7.21vw;
  }

  #title {
    margin-top: 5vw;
  }

  .subtitle {
    font-size: 3.14vw;
    line-height: 2.78vw;
  }

  .section-title {
    font-size: 5.86vw;
    line-height: 5.357vw;
  }

  .item-text {
    font-size: 2.5vw;
  }

  .about-me-info {
    font-size: 2vw;
  }

  .big-line {
    display: none;
  }

  .small-line {
    display: block;
  }

  .list-item::before {
    width: 1.14vw;
    height: 1.14vw;
  }

  .item-bar {
    height: 1.93vw;
  }

  .contact-icon {
    width: 3.93vw;
    height: 3.93vw;
  }

  .phone,
  .email,
  .location {
    font-size: 1.785vw;
    line-height: 2.643vw;
  }

  .years {
    font-size: 2.28vw;
  }

  .place-of-study {
    font-size: 2.14vw;
  }

  .education-info,
  .projects-info {
    width: 90%;
  }

  .projects-info-text,
  .projects-link {
    font-size: 2.14vw;
  }

  .green-form {
    width: 39.07vw;
    height: 14.14vw;
  }
}

@media (max-width: 1200px) {
  .info {
    max-height: 2190px;
  }
}

@media (max-width: 768px) {
  .info {
    max-height: 1900px;
  }
}

@media (max-width: 670px) {
  .main {
    background-image: none;
    background-color: #242729;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .info {
    max-height: 3900px;
    gap: 0;
  }

  .left-section {
    background-color: #ffffff;
  }

  .section {
    width: 100%;
    padding: 40px 30px;
  }

  #my_photo {
    display: flex;
    order: 0;
    justify-content: center
  }

  #title {
    order: 1;
    align-items: center;
  }

  #about_me {
    order: 2
  }

  #education {
    order: 3
  }

  #tech-skills {
    order: 4
  }

  #projects {
    order: 5;
  }

  #soft-skills {
    order: 5
  }

  #languages {
    order: 6;
  }

  #contacts {
    order: 7
  }

  .big-svg {
    display: none;
  }

  .small-svg {
    display: block;
  }

  .img {
    width: 50vw;
    height: 50vw;
    padding: 1.64vw;
  }

  .title {
    text-align: center;
    font-size: 10vw;
    line-height: 8.5vw;
  }

  .subtitle {
    text-align: center;
    font-size: 5vw;
    line-height: 4.5vw;
  }

  .section-title {
    text-align: center;
    font-size: 8vw;
    line-height: 7.5vw;
  }

  #soft-skills {
    background: #ffffff;
  }

  #soft-skills > .section-title {
    color: #242729
  }

  .soft-skill::before {
    background-color: #000000;
  }

  .about-me-info {
    font-size: 3.5vw;
    line-height: 38px;
  }

  .years {
    font-size: 4vw;
    line-height: 6vw;
  }

  .place-of-study {
    font-size: 4vw;
    line-height: 38px;
  }

  .item-text {
    font-size: 4vw;
    line-height: 5.5vw;
  }

  .list-item::before {
    width: 2.5vw;
    height: 2.5vw;
  }

  .item-bar {
    height: 3vw;
  }

  .projects-info-text,
  .projects-link {
    font-size: 4vw;
  }

  .contact-icon {
    width: 6vw;
    height: 6vw;
  }

  .phone,
  .email,
  .location {
    font-size: 4vw;
    line-height: 5vw;
  }
}

@media (max-width: 586px) {
  .about-me-info {
    line-height: 34px;
  }
}

@media (max-width: 500px) {
  .ed-big-line {
    display: none;
  }
}